.child {
    background-color: rgb(58, 139, 209);
    border: 2px solid black;
    padding: 14px;
    margin: 14px;
    cursor: pointer;
}

.childContainer {
    background-color: rgb(227, 227, 172);
    padding: 14px;
    margin: 14px;
}

.Container {
    background-color: rgb(182, 182, 48);
    padding: 14px;
    margin: 14px;
}